@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>  <blockquote class="trello-card"><a href="https://trello.com/c/RajdSWzu/12-husk-str-gem-og-enchants-f%C3%B8r-raid">HUSK STR GEM OG ENCHANTS FØR RAID!!!!!!!!</a></blockquote>
<script src="https://p.trellocdn.com/embed.min.js"></script></div>
<p>Use this area to provide additional information.</p>
